/* write your override styles here */

#wall .tag-1 {
  display: none;
}

#wall #tag-2 {
  display: none;
}

<<<<<<< HEAD
.tag-1{
  display: none;
}
=======
>>>>>>> 23b317cba9ad34ce389cb657a23c8e774e28fa23

